.btn {
  border-radius: 10px;
  margin-top: 5px;
  height: 75px;
  background-color: #006400;
  border: none;
  font-family: Lato;
  font-size: 2em;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  transition: background-color 0.2s;
}

.btn:hover {
  cursor: pointer;
  background-color: #024e02;
}

.btn.disabled {
  cursor: not-allowed;
  background-color: #E0E0E0;
}

.btn > i {
  margin: 5px;
}
